<h1>TUTU - Admin</h1>


  <%= button_to "Stations list", admin_railway_stations_path, method: :get, class: 'btn btn-primary btn-list' %><br>
  <%= button_to "Trains list", admin_trains_path, method: :get, class: 'btn btn-primary btn-list' %><br>
  <%= button_to "Routes list", admin_routes_path, method: :get, class: 'btn btn-primary btn-list' %><br>
 



