<h1>Results:</h1>

<table border = "1" rules="all">
  <thead>
    <tr>
      <th>Number</th>
      <th>Actions</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Purchase</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @trains.each do |train|%>
        <tr>
          <%= render "trains/user_train", train: train %>
          <td><%= link_to 'Buy', new_ticket_path(train_id: train.id) %></td>
        </tr>                                        
      <% end %>
    </tr>
  </tbody>
</table>
