<h1>Results:</h1>

<table border = "1" rules="all">
  <thead>
    <tr>
      <th>Number</th>
      <th>Actions</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Purchase</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @trains.each do |train|%>
        <tr>
          <%= render "trains/train", train: train %>
          <% if current_user.admin?%>
            <td><%= link_to 'Buy', new_admin_ticket_path(ticket: {train_id: train.id,
                                                            first_station_id: @first_station_id,
                                                            last_station_id: @last_station_id}) %>
            </td>
          <% else %>
            <td><%= link_to 'Buy', new_ticket_path(ticket: {train_id: train.id,
                                                            first_station_id: @first_station_id,
                                                            last_station_id: @last_station_id}) %>
            </td>  
          <% end %> 
        </tr>                                        
      <% end %>
    </tr>
  </tbody>
</table>
