<p>Здаров, <%= @user.name%></p>
<p>Вы отменили билет по мартшруту: <%= "#{@ticket.first_station.title} - #{@ticket.last_station.title}" %></p>
<p>Вы можете просмотеть все Ваши билеты <%= link_to 'тута', tickets_url %></p>
